<launch>
    <node pkg="ssafy_2" type="2_2_mgeo_pub.py" name="mgeo_pub"  />
    <node pkg="ssafy_2" type="2_1_gpsimu_parser.py" name="gpsimu_parser" />
    <node pkg="ssafy_2" type="2_3_global_path_pub.py" name="global_path_pub"  />
    <node pkg="ssafy_2" type="2_3_local_path_pub.py" name="local_path_pub" />
    <!-- <node pkg="ssafy_2" type="2_4_pure_pursuit.py" name="pure_pursuit"  /> -->
    <!-- <node pkg="ssafy_2" type="2_4_pid_control.py" name="pid_control"  /> -->
    <!-- <node pkg="ssafy_2" type="2_4_velocity_planning.py" name="velocity_planning"  /> -->
    <!-- <node pkg="ssafy_2" type="2_4_advanced_purepursuit.py" name="advanced_purepursuit"  /> -->
    <node pkg="ssafy_2" type="2_1_tf.py" name="tf"  />

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find ssafy_2)/rviz/kcity_rviz.rviz" />
</launch>